header {
    padding: 24px;
    font-size: var(--font-size-h4);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 45px;
    }
}

/*.header__nav {
    font-weight: 500;
    color: var(--Color-typo-tresPale);

    a:hover {
        font-weight: 700;
        color: var(--color-neutre-foncee);
    }
}

.header__options {
    font-weight: 700;
    color: var(--color-neutre-foncee);

    ul {
        display: flex;
        align-items: center;
    }
}
*/
